body{
  background: linear-gradient(#69E7CF,#497EE4);
  height: 100vh;
}
button:hover{
  cursor: pointer;
}
.App {
  background: #fff;
  padding: 10px 10px 20px 10px;
  text-align: center;
  max-width: 400px;
  margin: 10% auto;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px #0000001f;
}
.todo-list
{
  padding: 0;
  list-style: none;
}
.todo-list div{
  background: #F2F2F2;
  color: #272F3D;
  margin: 10px;
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  
}
.todo-list div button{
  background: #E44E3F;
  color: #fff;
  border: none;
  width: 40px;
  border-radius: 0 5px 5px 0;
}
.todo-list li {
  padding: 10px;
  display: inline;
}
.header input{
width: 82%;
height: 40px;
margin-right: 4px;
border-radius: 2px;
    border: 1px solid #D5D5D5;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header button{
width: 43px;
height: 43px;
background: #894CD3;
color: #fff;
border: none;
border-radius: 4px;
font-size: 30px;
}
.clearAll{
  background: #fff !important;
  align-items: center;
}
.clear-btn{
  background: #894cd3 !important;
    width: auto !important;
    padding: 8px 15px;
    border-radius: 5px !important;
    height: fit-content;
    font-size: 18px; ;
}